.section-highlight{
  background: #B8E4FA;
}

.subsection-highlight{
  background: #3E9DCA;
  color: #FFFFFF;
}

.match-list{
  background: #F2F2F2;
  border-radius: 5px;
  height: 1.35em;
  line-height: 1.3em;
}

.black{
  border: 1px solid black;
}

.secondary-foreground{
  color: #666666;
}

.offwhite-foreground{
  color: #F1FAFF;
}

.offwhite-background{
  background-color: #F1FAFF;
}

.panel-body{
  font-size: 16px;
}

.btn-custom{
  background-color: #3E9DCA;
  color: #F1FAFF;
  border: none;
  height: 3em;
}

.btn-custom:hover{
  background-color: #61B8E2;
  color: #000000;
}

.btn-custom:active{
  top: 1px;
  box-shadow: none;
  background-color: #F1FAFF;
  color: #000000;
}
